<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itcorea.coreonmobile"
    android:versionCode="5"
    android:versionName="Dev 1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main_3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:hardwareAccelerated="true" -->
        <activity
            android:name="com.itcorea.coreonmobile.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itcorea.coreonmobile.LogIn"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="CoreonMain"
            android:label="@string/app_name" >
        </activity>
    </application>
</manifest>